.container {
    margin-top: 220px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.title {
    font-size: 30px;
    font-weight: 600;
}

.advantage_list {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.advantage {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 320px;
}

.image {
    width: 320px;
    height: 320px;
    object-fit: cover;
}

.advantage_title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
}

.advantage_description {
    font-size: 14px;
    color: #292929;
}

@media screen and (max-width: 780px) {
    .container {
        margin-top: 250px;
    }

    .advantage_list {
        flex-direction: column;
    }

    .title {
        font-size: 24px;
        text-align: center;
        max-width: 320px;
    }

    .advantage {
        width: 300px;
    }

    .image {
        width: 300px;
        height: 300px;
    }
}

@media screen and (min-width: 781px) and (max-width: 1200px) {
    .advantage_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
}